<nav class="navbar desktop">
    <div class="logo">
        <a href="/">Vasile <span>Câmpeanu</span></a>
    </div>
    <div class="links">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $menu_item_url := .URL | relLangURL }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
            {{ $icon := default "link" .Params.Icon }}
                <li>
                    <a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | relLangURL }}">
                        <i class="{{ $icon }}"></i>{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><input id="toggle" class="toggle" type="checkbox" /></li>
            <li>
                <div class="dropdown-language">
                    <button>
                        <i onclick="dropDownFunction()" class="fa-solid fa-earth-europe dropbtn"></i>
                    </button>
                    <div id="dropdown-language-content" class="dropdown-content">
                        {{- $lang := .Lang}}
                        {{- with $.Site.Home.AllTranslations }}
                            {{- range . -}}
                                <a href="{{ .Permalink }}"><i class="fa-solid fa-earth-europe"></i>{{ .Lang | title }}</a>
                            {{- end}}
                        {{- end }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<script>
    var icon  = document.getElementById("toggle");

    // Set a local item "theme" as default for the first time when the user enters the site
    var theme = window.localStorage.getItem("theme");
    
    if(theme)
    {
        console.log(theme);
    }
    else
    {
        window.localStorage.setItem("theme", "default");
    }

    if(theme === "light")
    {
        document.body.setAttribute('data-theme', 'light');
    }
    else
    {
        document.body.setAttribute('data-theme', 'dark');
    }

    if(theme === "light")
        document.body.classList.toggle("dark-theme");

    icon.onclick = function ()
    {
        document.body.classList.toggle("dark-theme");

        if(theme === "default")
            window.localStorage.setItem("theme", "light");
            
        if(theme === "light")
            window.localStorage.setItem("theme", "dark");
            
        if(theme === "dark")
            window.localStorage.setItem("theme", "light");

        window.location.reload();
    }
</script>

<script>
    (function () {
        const links = document.getElementsByTagName('a')
        const current_url = location.href;
        const post_page = "/post";

        console.log(current_url.includes(post_page));

        if (current_url.includes(post_page)) {
            const blog_url = current_url.substring(0, current_url.lastIndexOf(post_page)) + '/';

            for (const link of links) {
                if (link.href === blog_url) {
                    link.classList.add('active')
                }
            }
        }
    }())
</script>

<script>

    function dropDownFunction() {
        document.getElementById("dropdown-language-content").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) 
        {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            
            for (i = 0; i < dropdowns.length; i++) 
            {
                var openDropdown = dropdowns[i];
                
                if (openDropdown.classList.contains('show')) 
                {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>