<nav class="navbar desktop">
    <div class="logo">
        <a href="/">Vasile <span>Câmpeanu</span></a>
    </div>
    <div class="links">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ $menu_item_url := .URL | relLangURL }}
            {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
            {{ $icon := default "link" .Params.Icon }}
                <li>
                    <a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL | relLangURL }}">
                        <i class="{{ $icon }}"></i>{{ .Name }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><input id="toggle" class="toggle" type="checkbox" /></li>
            <li>
                <div class="dropdown-language">
                    <button>
                        <i onclick="dropDownFunction()" class="fa-solid fa-earth-europe dropbtn"></i>
                    </button>
                    <div id="dropdown-language-content" class="dropdown-content">
                        {{- $lang := .Lang}}
                        {{- with $.Site.Home.AllTranslations }}
                            {{- range . -}}
                                <a href="{{ .Permalink }}"><i class="fa-solid fa-earth-europe"></i>{{ .Lang | title }}</a>
                            {{- end}}
                        {{- end }}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>