<nav class="navbar desktop">
    <div class="logo">
        <a href="/">Vasile <span>Câmpeanu</span></a>
    </div>
    <div class="links">
        <ul>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}
                {{ $icon := default "link" .Params.Icon }}
                <li><a class="{{ if eq $menu_item_url $page_url }}active{{ end }}" href="{{ .URL }}"><i class="{{ $icon }}"></i>{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </div>
    <div class="actions">
        <ul>
            <li><i class="fa-regular fa-sun"></i></li>
            <li>en</li>
        </ul>
    </div>
</nav>

<script>
    (function() {
        const links = document.getElementsByTagName('a')
        const current_url = location.href;
        const post_page = "/post";

        console.log(current_url.includes(post_page));
        
        if(current_url.includes(post_page))
        {
            const blog_url = current_url.substring(0, current_url.lastIndexOf(post_page)) + '/';
            
            for (const link of links) 
            {
                if (link.href === blog_url) 
                {
                    link.classList.add('active')
                }
            }
        }
    }())
</script>