.article-list
{
    .title
    {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 10px;
        color: #FF0A78;
    }

    .list
    {
        .article-compact
        {
            margin-bottom: 15px;
            transition: all var(--hover-transition);
            cursor: pointer;

            .article-title
            {
                a
                {
                    color: var(--text-normal);
                    text-decoration: none;
                }
            }
            
            .article-description
            {
                p
                {
                    font-size: 16px;
                    font-weight: normal;
                }
    
                a
                {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--text-normal);
                    text-decoration: none;
                    transition: all var(--hover-transition);

                    &:hover
                    {
                        text-decoration: underline;
                    }
                }
            }

            &:hover .article-title a
            {
                color: var(--text-accent);
            }
        }
    }
}