// Desktop Navbar
header nav.navbar.desktop
{
    display: grid;
    grid-template-areas: 
    "logo links actions";
    grid-template-columns: auto 1fr auto;
    width: 100%;
    height: 80px;

    .logo
    {
        grid-area: logo;
        align-self: center;

        a
        {
            text-decoration: none;
            font-size: var(--font-size-lg);
            font-weight: bold;
            color: var(--text-normal);

            span
            {
                color: var(--text-accent);
            }
        }
    }

    .links
    {
        grid-area: links;
        align-self: center;
        justify-self: end;

        ul
        {
            padding: 0px;
            
            display: flex;
            height: 80px;

            li
            {
                // display: inline;
                list-style: none;
                
                padding-left: 20px;
                align-self: center;

                display: flex;
                flex-direction: row;
                align-items: center;

                a
                {
                    text-decoration: none;
                    color: var(--text-normal);
                    font-weight: bold;

                    font-size: var(--font-size-xsm);

                    &.active
                    {
                        color: var(--text-accent);
                    }
                    
                    transition: all var(--hover-transition);

                    &:hover
                    {
                        color: var(--text-accent-hover);
                    }

                    i
                    {
                        padding-right: 7.5px;
                    }
                }
            }
        }
    }

    .actions
    {
        grid-area: actions;
        align-self: center;
        margin-left: 15px;

        ul
        {
            height: 80px;
            display: flex;

            li
            {
                padding-left: 15px;
                align-self: center;
                list-style: none;

                display: flex;
                flex-direction: row;
                align-items: center;
                
                i
                {
                    cursor: pointer;
                    font-size: var(--font-size-sm);
                    transition: all var(--hover-transition);
                    color: var(--text-normal);

                    &:hover
                    {
                        color: var(--text-accent-hover);
                    }
                }

                .dropdown-language
                {
                    button
                    {
                        padding: 0px;
                        margin: 0px;
                        border: none;
                        display: grid;
                        background-color: transparent;
                    }

                    .dropdown-content 
                    {
                        display: none;
                        position: absolute;
                        overflow: auto;
                        z-index: 1;

                        a
                        {
                            font-weight: bold;
                            display: block;
                            margin-top: 7.5px;
                            color: var(--text-normal);
                            
                            transition: all var(--hover-transition);
                            
                            font-size: var(--font-size-xxsm);

                            text-transform: uppercase;
                            text-decoration: none;

                            &:hover
                            {
                                // color: var(--text-accent-hover);
                                text-decoration: underline;
                            }

                            &:hover i
                            {
                                color: var(--text-normal);
                            }

                            i
                            {
                                margin-right: 5px;

                                &:hover
                                {
                                    color: var(--text-normal);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

header nav.navbar.mobile
{
    display: none;
    width: 100%;

    .topbar
    {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo actions";
        height: 60px;

        .logo
        {
            grid-area: logo;
            align-self: center;
            
            a
            {
                text-decoration: none;
                font-size: var(--font-size-m);
                font-weight: bold;
                color: var(--text-normal);
    
                span
                {
                    color: var(--text-accent);
                }
            }
        }
        
        .actions
        {
            grid-area: actions;
            align-self: center;

            .burger-menu
            {
                width: 40px;
                height: 40px;

                button
                {
                    background: none;
                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;

                    &.burger
                    {
                        position: relative;
                        z-index: 1000 !important;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        padding: 0;

                        .line
                        {
                            fill: none;
                            stroke: var(--text-normal);
                            stroke-width: 7;
                            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                        }

                        .line1
                        {
                            stroke-dasharray: 60 207;
                            stroke-width: 7;
                        }

                        .line2
                        {
                            stroke-dasharray: 60 60;
                            stroke-width: 7;
                        }

                        .line3
                        {
                            stroke-dasharray: 60 207;
                            stroke-width: 7;
                        }
                    }

                    &.burger.opened
                    {
                        .line1
                        {
                            stroke-dasharray: 90 207;
                            stroke-dashoffset: -134;
                            stroke-width: 7;
                        }

                        .line2
                        {
                            stroke-dasharray: 1 60;
                            stroke-dashoffset: -30;
                            stroke-width: 7;
                        }

                        .line3
                        {
                            stroke-dasharray: 90 207;
                            stroke-dashoffset: -134;
                            stroke-width: 7;
                        }
                    }
                }
            }
        }
    }

    .links
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background-color: var(--background-primary);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
        overflow: hidden;

        &.is-open
        {
            opacity: 1;
            z-index: 100;
            visibility: visible;

            &::before
            {
                transform: skew(-14deg) translateX(0);
            }

            a
            {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &::before
        {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -15px;
            background-color: var(--background-secondary-01);
            transform-origin: 0 0;
            transform: skew(-14deg) translateX(-120%);
            transition: all .275s .1s;
        }

        ul
        {
            display: inline-flex;
            flex-direction: column;
            height: 100%;
            align-items: flex-end;
            justify-content: center;
            transform: translateX(-18%) skew(-16deg);

            li
            {
                display: block;
                margin: .5rem 0;
                text-align: right;
                transform: skew(16deg);
                transition: all .3s;

                a
                {
                    text-decoration: none;
                    color: var(--text-normal);
                    transition: all var(--hover-transition);
                    opacity: 0;
                    transform: translateY(-10px);
                    display: block;
                    font-size: var(--font-size-sm);

                    &.active
                    {
                        color: var(--text-accent);
                    }
                }
                
                i
                {
                    padding-right: 7.5px;
                }

                &:nth-child(1) a
                {
                    transition: all 275ms 175ms
                }

                &:nth-child(2) a
                {
                    transition: all 275ms 225ms
                }

                &:nth-child(3) a
                {
                    transition: all 275ms 275ms
                }

                &:nth-child(4) a
                {
                    transition: all 275ms 325ms
                }

                &:nth-child(5) a
                {
                    transition: all 275ms 375ms
                }
            }
        }
    }
}

@media screen and (max-width: 1024px)
{
    header nav.navbar.desktop
    {
        display: none;
    }

    header nav.navbar.mobile
    {
        display: block;
    }
}

.show 
{
    display: block !important;
}

.hide-overflow
{
    overflow: hidden !important;
}