// Desktop Navbar
header nav.navbar.desktop
{
    display: grid;
    grid-template-areas: 
    "logo links actions";
    grid-template-columns: auto 1fr auto;
    width: 100%;
    height: 80px;

    .logo
    {
        grid-area: logo;
        align-self: center;
        font-size: 1.75rem;

        a
        {
            text-decoration: none;
            color: var(--text-normal);
            font-weight: bold;

            span
            {
                color: var(--text-accent);
            }
        }
    }

    .links
    {
        grid-area: links;
        align-self: center;
        justify-self: end;

        ul
        {
            padding: 0px;
            
            display: flex;
            height: 80px;

            li
            {
                // display: inline;
                list-style: none;
                
                padding-left: 20px;
                align-self: center;

                display: flex;
                flex-direction: row;
                align-items: center;

                a
                {
                    text-decoration: none;
                    color: var(--text-normal);
                    font-weight: bold;

                    &.active
                    {
                        color: var(--text-accent);
                    }
                    
                    transition: all var(--hover-transition);

                    &:hover
                    {
                        color: var(--text-accent-hover);
                    }

                    i
                    {
                        padding-right: 7.5px;
                    }
                }
            }
        }
    }

    .actions
    {
        grid-area: actions;
        align-self: center;
        margin-left: 15px;

        ul
        {
            height: 80px;
            display: flex;

            li
            {
                padding-left: 15px;
                align-self: center;
                list-style: none;

                display: flex;
                flex-direction: row;
                align-items: center;
                
                i
                {
                    cursor: pointer;
                    font-size: 1.25rem;
                    transition: all var(--hover-transition);

                    &:hover
                    {
                        color: var(--text-accent-hover);
                    }
                }
            }
        }
    }
}