// Core styles
@import "/core/variables.scss";
@import "./core/normalize.scss";
@import "./core/base.scss";

// Partial styles
@import "./partials/header.scss";
@import "./partials/article.scss";
@import "./partials/pagination.scss";
@import "./partials/under-construction.scss";
@import "./partials/loading-animation.scss";
@import "./partials/footer.scss";
@import "./partials/modal.scss";
@import "./partials/article-compact.scss";

// Layouts
@import "./layouts/home.scss";
@import "./layouts/blog.scss";
@import "./layouts/balloon.scss";
@import "./layouts/about.scss";
@import "./layouts/newsletter.scss";
@import "./layouts/scrapbook.scss";