// Core styles
@import "/core/variables.scss";
@import "./core/normalize.scss";
@import "./core/base.scss";

// Partial styles
@import "./partials/header.scss";
@import "./partials/article.scss";

// Layouts
@import "./layouts/blog.scss"