main .main-wrapper.blog
{
    display: grid;
    grid-template-areas: 
    "left_sidebar main_content right_sidebar";
    gap: 1.5rem;
    grid-template-columns: 22.5% 1fr 22.5%;

    aside.sidebar
    {
        &.sticky
        {
            position: sticky;
        }
    }

    aside.sidebar.left-sidebar
    {
        grid-area: left_sidebar;
        
        &.sticky 
        {
            top: 25px;
        }

        .popular-posts-title
        {
            font-size: var(--font-size-sm);
            font-weight: bold;
            padding-bottom: 10px;
        }

        ul.popular-posts
        {
            li
            {
                list-style: none;
                margin-bottom: 7.5px;
                cursor: pointer;

                div
                {
                    display: inline-flex;

                    span
                    {
                        padding-right: 12.5px;
                        
                        i
                        {
                            color: var(--text-accent);
                            transition: all var(--hover-transition);
                        }
                    }

                    a
                    {
                        color: var(--text-normal);
                        text-decoration: none;
                        font-weight: bold;
                        font-size: var(--font-size-xsm);
                    }
                }

                &:hover i
                {
                    transform: translateX(7.5px);
                }
            }
        }
    }

    .article-list
    {
        grid-area: main_content;

        article
        {
            // background-color: rebeccapurple;
            margin-bottom: 20px;
            border-radius: 15px;
            border: 2px solid var(--border-color);
            background-color: var(--background-secondary-01);
            box-shadow: var(--shadow-l2);
            transition: all var(--hover-transition);

            &:hover
            {
                box-shadow: var(--shadow-l4);
            }

            &.has-image
            {
                .article-image
                {
                    a
                    {
                        img
                        {
                            width: 100%;
                            height: 175px;
                            border-radius: 12.5px;
                        }
                    }
                }
            }

            .article-details
            {
                padding: 30px;

                header
                {
                    padding-top: 5px;
                    
                    &.article-category
                    {
                        a 
                        {
                            background-color: var(--background-secondary-02);
                            box-shadow: var(--shadow-l1);
                            padding: 5px 20px;
                            color: var(--text-normal);
                            text-decoration: none;
                            border-radius: 5px;
                            border: 1px solid var(--border-color);
                            font-weight: bold;
                            font-size: var(--font-size-xxsm);

                            &:hover 
                            {
                                box-shadow: var(--shadow-l2);
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .article-title-wrapper
                {
                    margin-top: 5px;

                    .article-title
                    {
                        a
                        {
                            text-decoration: none;
                            color: var(--text-accent);
                            transition: all var(--hover-transition);

                            font-size: var(--font-size-m);

                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }

                    .article-description
                    {
                        border-top: 2px solid var(--border-color);
                        border-bottom: 2px solid var(--border-color);
                        padding: 10px 0px;
                        font-weight: normal;
                        color: var(--article-description-color);
                        transition: all var(--description-hover-transition);
                        
                        margin-top: 10px;
                        
                        font-size: var(--font-size-xsm);

                        &:hover
                        {
                            color: var(--text-normal);
                        }

                        a
                        {
                            color: var(--text-accent);
                            text-decoration: underline;
                            font-weight: bold;
                            transition: all var(--hover-transition);

                            &:hover
                            {
                                color: var(--text-accent-hover);
                            }
                        }
                    }
                }

                footer
                {
                    margin-top: 10px;

                    &.article-time, &.article-translations 
                    {
                        display: flex;
                        align-items: center;
                        color: var(--text-normal);
                        gap: 15px;
                        flex-wrap: wrap;

                        svg 
                        {
                            vertical-align: middle;
                            width: 18px;
                            height: 18px;
                            stroke-width: 1.33;
                        }
                    
                        time
                        {
                            font-size: var(--font-size-xxsm);
                            color: var(--text-normal);
                        }
                    
                        & > div 
                        {
                            display: inline-flex;
                            align-items: center;
                            gap: 7.5px;
                        }
                    }
                }
            }
        }
    }

    aside.sidebar.right-sidebar
    {
        grid-area: right_sidebar;

        &.sticky
        {
            top: 25px;
        }

        .widget
        {
            margin-bottom: 20px;
            font-size: var(--font-size-sm);
            font-weight: bold;

            &.tagCloud
            {
                .tagCloud-tags
                {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
            
                    a 
                    {
                        background-color: var(--background-secondary-02);
                        box-shadow: var(--shadow-l1);
                        padding: 2.5px 20px;
                        color: var(--text-normal);
                        text-decoration: none;
                        font-weight: bold;
                        font-size: var(--font-size-xxsm);
                        border-radius: 5px;
                        border: 1px solid var(--border-color);
                        transition: all 500ms;

                        &:hover 
                        {
                            box-shadow: var(--shadow-l2);
                            text-decoration: underline;
                        }
                    }
                }
            }

            &.categoriesCloud
            {
                .categoriesCloud-categories
                {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
            
                    a 
                    {
                        background-color: var(--background-secondary-02);
                        box-shadow: var(--shadow-l1);
                        padding: 2.5px 20px;
                        color: var(--text-normal);
                        text-decoration: none;
                        font-size: var(--font-size-xxsm);
                        font-weight: bold;
                        border-radius: 5px;
                        border: 1px solid var(--border-color);
                        transition: all 500ms;
                        
                        &:hover 
                        {
                            box-shadow: var(--shadow-l2);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}