main .main-wrapper.blog
{
    display: grid;
    grid-template-areas: 
    "main_content right_sidebar";
    gap: 2rem;
    grid-template-columns: 1fr 27.5%;
 
    // height: 100vh;

    .article-list
    {
        grid-area: main_content;
    }

    aside.sidebar.right-sidebar
    {
        grid-area: right_sidebar;
    }
}