main .main-wrapper.newsletter
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 80px - 64px);

    .past-issues
    {
        height: 100%;
        // overflow: auto;
    }

    .newsletter-form
    {
        display: grid;
        justify-content: center;
    }
}