// Setup custom fonts
// Virgil
@font-face 
{
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
}

// Cascadia
@font-face 
{
    font-family: "Cascadia";
    src: url("https://excalidraw.com/Cascadia.woff2");
}

// Theme colors
:root
{
    --background-primary: #ffffff;
    --background-secondary-01: #ffffff;
    --text-normal: #000000;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
    --border-color: #000000;
    --background-secondary-02: #F5D34C;
}

// Typography
:root
{
    --default-font: "Cascadia";

    // Sizes
    --font-size-xxsm: 14px;
    --font-size-xsm: 16px;
    --font-size-sm: 20px;
    --font-size-m: 24px;
    --font-size-lg: 28px;
    --font-size-xlg: 32px;
    --font-size-xxlg: 36px;
}

// Transition
:root
{
    --hover-transition: 0.325s;
    --description-hover-transition: 0.225s;
}

// Shadow layouts
:root 
{
    --shadow-l1: 0px 4px  8px  rgba(0, 0, 0, 0.04), 0px 0px  2px  rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px  6px  rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px  6px  rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.drak-macos
{
    --background-primary: #221D29;
    --background-secondary-01: #2B2631;
    --text-normal: #ffffff;
    --border-color: #757179;
}

// .dark-theme
// {
//     --background-primary: #0E141B;
//     --background-secondary-01: #232830;
//     --background-secondary-02: #363C43;
//     --text-normal: #ffffff;
//     --border-color: #2c2f35;
// }

.dark-theme
{
    --background-primary: #0E141B;
    --background-secondary-01: rgb(27, 32, 37);
    --background-secondary-02: #363C43;
    --text-normal: #ffffff;
    --border-color: #25282e;
    --article-description-color: #b6bfcb;
    --border-bottom-to-hover: rgb(255, 255, 255, 0);
    --border-bottom-hovered: rgb(255, 255, 255, 1);
}