// Setup custom fonts
// Virgil
@font-face 
{
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
}

// Cascadia
@font-face 
{
    font-family: "Cascadia";
    src: url("https://excalidraw.com/Cascadia.woff2");
}

// Theme colors
:root
{
    --background-primary: #ffffff;
    --background-secondary: #ffffff;
    --text-normal: #000000;
    --text-accent: #4C6EF5;
    --text-accent-hover: #F5D34C;
    --border-color: #000000;
}

// Typography
:root
{
    --default-font: "Cascadia";
}

// Transition
:root
{
    --hover-transition: 0.325s;
}

// Shadow layouts
:root 
{
    --shadow-l1: 0px 4px  8px  rgba(0, 0, 0, 0.04), 0px 0px  2px  rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px  6px  rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px  6px  rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.drak-macos
{
    --background-primary: #221D29;
    --background-secondary: #2B2631;
    --text-normal: #ffffff;
    --border-color: #757179;
}

.dark-theme
{
    --background-primary: #0E141B;
    --background-secondary: #141D24;
    --text-normal: #ffffff;
    --border-color: #3f3e41;
}