<!DOCTYPE html>
{{/*  class="notranslate" translate="no" - Those parameters prevent autotranslation  */}}
<html lang="en" class="notranslate" translate="no">
<head>
    {{ partial "components/head/head.html" . }}
</head>
<body id="body" class="dark-theme">
    <div class="loader">
        {{ $loading_animation := resources.Get "json/loadin_animation.json" }}
        <!-- Credit: https://lottiefiles.com/xta6vx5dtr -->
        <lottie-player id="loading-animation" src="{{ $loading_animation.RelPermalink }}" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div class="site-wrapper">
        <header id="header">
            {{ block "header" . }}{{ end }}
        </header>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer id="footer">
            {{ block "footer" . }}{{ end }}
        </footer>
    </div>
    <script>
        const loader  = document.querySelector(".loader");
        const wrapper = document.querySelector(".site-wrapper");
        const loadin_animation = document.getElementById("loading-animation");
        const body = document.getElementById("body");
        
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };
        
        (function () {
            wrapper.style.display = 'grid';
            body.classList.add("hide-overflow");
            
            setTimeout(() => {
                loader.style.opacity  = 0;
                loader.style.display  = 'none';
                loadin_animation.remove();
                setTimeout(() => (wrapper.style.opacity = 1), 100);
            }, 1000);

            setTimeout(() => (body.classList.remove("hide-overflow")), 1000);
        }())
    </script>
    {{ partial "components/footer/include.html" . }}
</body>
</html>