<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "components/head/head.html" . }}
</head>
<body class="dark-theme">
    <div class="site-wrapper">
        <header id="header">
            {{ block "header" . }}{{ end }}
        </header>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer id="footer">
            {{ block "footer" . }}{{ end }}
        </footer>
        {{ partial "components/footer/include.html" . }}
    </div>
</body>
</html>