<!DOCTYPE html>
{{/*  class="notranslate" translate="no" - Those parameters prevent the page to be autotranslated  */}}
<html lang="en" class="notranslate" translate="no">
<head>
    {{ partial "components/head/head.html" . }}
</head>
<body id="body" class="dark-theme {{ block `body-class` . }}{{ end }}">
    <div class="loader">
        {{ $loadingAnimation := resources.Get "json/loadingAnimation.json" }}
        <!-- Credit: https://lottiefiles.com/xta6vx5dtr -->
        <lottie-player id="loading-animation" src="{{ $loadingAnimation.RelPermalink }}" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div id="modal-container">
        <div class="modal-background">
          <div class="modal">
            <h2>I'm a Modal</h2>
            <p>Hear me roar.</p>
            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
            </svg>
          </div>
        </div>
    </div>
    <div class="site-wrapper">
        <header id="header">
            {{ block "header" . }}{{ end }}
        </header>
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        <footer id="footer">
            {{ block "footer" . }}{{ end }}
        </footer>
    </div>
    {{ partial "components/footer/include.html" . }}
</body>
</html>