{{ $profilePicture := resources.Get "images/profilePicture.jpg" }}
{{ $skills := resources.Get "svg/skills-dark.svg" }}

<div class="main-wrapper about">
    <div class="profile">
        <div class="profile-info">
            <div class="banner">
            </div>
            <div class="profile-picture-and-socialmedia">
                <div class="profile-picture">
                    <img src="{{ $profilePicture.RelPermalink }}" alt="">
                </div>
                <div class="social-media-links">
                    <ul>
                        <li>
                            <a href=""><i class="fab fa-github"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-instagram"></i></a>                     
                        </li>
                        <li>
                            <a href=""><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="info">
                <div class="profile-name">Vasile Câmpeanu</div>
                <div class="profile-description">
                    "The purpose of thinking is to let your thoughts die instead of you." - J. Petterson
                </div>
                <div class="call-to-action">
                    <a href="#">RESUME</a>
                    <a href="/newsletter/">SUBSCRIBE</a>
                </div>
            </div>
        </div>
        <div class="profile-skills">
            <div class="title">
                SKILLS
            </div>
            <div class="skills">
                <object data="{{ $skills.RelPermalink }}" type=""></object>
            </div>
        </div>
    </div>
    <div class="highlights">
        <div class="list">
            <div class="highlight">
                <div class="highlight-preview">
                    <div class="preview">
                        <div style="background-image: url('{{ $profilePicture.RelPermalink }}');"></div>
                    </div>
                </div>
                <div class="name">
                    Highlight
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-preview">
                    <div class="preview">
                        <div style="background-image: url('{{ $profilePicture.RelPermalink }}');"></div>
                    </div>
                </div>
                <div class="name">
                    Highlight
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-preview">
                    <div class="preview">
                        <div style="background-image: url('{{ $profilePicture.RelPermalink }}');"></div>
                    </div>
                </div>
                <div class="name">
                    Highlight
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-preview">
                    <div class="preview">
                        <div style="background-image: url('{{ $profilePicture.RelPermalink }}');"></div>
                    </div>
                </div>
                <div class="name">
                    Highlight
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-preview">
                    <div class="preview">
                        <div style="background-image: url('{{ $profilePicture.RelPermalink }}');"></div>
                    </div>
                </div>
                <div class="name">
                    Highlight
                </div>
            </div>
        </div>
    </div>
    <div class="balloon-info">
        {{ partial "balloon/layout.html" . }}
    </div>
    <div class="project-gallery">
        <div class="title">
            PROJECTS
        </div>
        <div class="content">
            <div class="gallery-item item-1-2-cr project01 alone">
                <div class="embed">
                    PROJECT 01 PREVIEW
                </div>
                <div class="title-overlay">
                    <a href="./article.html">Personal Portfolio/Blog</a>
                </div>
            </div>
            <div class="gallery-item project01">
                <div class="embed">
                    PROJECT 01 PREVIEW
                </div>
                <div class="title-overlay">
                    <a href="#">Test</a>
                </div>
            </div>
        </div>
    </div>
</div>