{{ $meditationAnimation := resources.Get "json/meditationAnimation.json" }}

{{ $item01 := resources.Get "svg/circle-dark.svg" }}
{{ $item02 := resources.Get "svg/circle-dark.svg" }}
{{ $item03 := resources.Get "svg/circle-dark.svg" }}
{{ $item04 := resources.Get "svg/circle-dark.svg" }}

<div class="main-wrapper home">
    <div class="introduction">
        <!-- Who I am ? -->
        <div class="about">
            <div class="subtitle">
                <p>Hi, I'm Vasile Câmpeanu - </p>
            </div>
            <div class="title">
                <h1>I'm a student, currently studying computer science at <a href="https://www.umfst.ro/en/home.html">UMFST</a> Târgu Mureș</h1>
            </div>
            <div class="info">
                <p>I am passionate about <span>artificial inteligence</span>, <span>bioinformatics</span> and <span>single-cell genomics</span>. My biggest interest lays in understanding the biological world from a computational standpoint. <a href="/about/">(more about me...)</a></p>
            </div>
        </div>
        <div class="animation">
            <div class="item item-1">
                <object data="{{ $item01.RelPermalink }}" type=""></object>
            </div>
            <div class="item item-2">
                <object data="{{ $item02.RelPermalink }}" type=""></object>
            </div>
            <div class="center">
                <lottie-player src="{{ $meditationAnimation.RelPermalink }}"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
                <!-- Credit: https://lottiefiles.com/Mikhail_V94 -->
            </div>
            <div class="item item-3">
                <object data="{{ $item03.RelPermalink }}" type=""></object>
            </div>
            <div class="item item-4">
                <object data="{{ $item04.RelPermalink }}" type=""></object>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="article-list">
            <div class="title">
                RECENTLY PUBLISHED
            </div>
            <div class="list">
                <div class="preview_article">
                    <h1>Understanding Layout Algorithms</h1>
                    <p>As front-end developers, we often learn CSS by focusing on individual properties. Instead, we should focus on how the language uses those properties to calculate layouts. In this blog post, we'll pop the hood on CSS and see how the language is structured, and how to learn it effectively.</p>
                    <a href="">Read More</a>
                </div>
                <div class="preview_article">
                    <h1>Understanding Layout Algorithms</h1>
                    <p>As front-end developers, we often learn CSS by focusing on individual properties. Instead, we should focus on how the language uses those properties to calculate layouts. In this blog post, we'll pop the hood on CSS and see how the language is structured, and how to learn it effectively.</p>
                    <a href="">Read More</a>
                </div>
                <div class="preview_article">
                    <h1>Understanding Layout Algorithms</h1>
                    <p>As front-end developers, we often learn CSS by focusing on individual properties. Instead, we should focus on how the language uses those properties to calculate layouts. In this blog post, we'll pop the hood on CSS and see how the language is structured, and how to learn it effectively.</p>
                    <a href="">Read More</a>
                </div>
                <div class="preview_article">
                    <h1>Understanding Layout Algorithms</h1>
                    <p>As front-end developers, we often learn CSS by focusing on individual properties. Instead, we should focus on how the language uses those properties to calculate layouts. In this blog post, we'll pop the hood on CSS and see how the language is structured, and how to learn it effectively.</p>
                    <a href="">Read More</a>
                </div>
                <div class="preview_article">
                    <h1>Understanding Layout Algorithms</h1>
                    <p>As front-end developers, we often learn CSS by focusing on individual properties. Instead, we should focus on how the language uses those properties to calculate layouts. In this blog post, we'll pop the hood on CSS and see how the language is structured, and how to learn it effectively.</p>
                    <a href="">Read More</a>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <div class="fleeting">
                <div class="title">FLEETING</div>
                <ul>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span><i class="fa-solid fa-arrow-right"></i></span>
                            <div><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>