<div class="main-wrapper blog">
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    <div>
        <aside class="sidebar left-sidebar sticky">
            <div>
                <div class="popular-posts-title">
                    POPULAR CONETNT
                </div>
                <ul class="popular-posts">
                    {{ range $index, $element := $filtered }}
                        <li>
                            <div>
                                <span><i class="fa-solid fa-arrow-right"></i></span>
                                <div><a href="{{ .RelPermalink }}"></i> {{ .Title }}</a></div>    
                            </div>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </aside>
    </div>
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </section>
    <div>
        <aside class="sidebar right-sidebar sticky">
            {{ partial "rightSidebar.html" (dict "Context" . "Scope" "blogpage") }}
        </aside>
    </div>
</div>